body {
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
    background-image: url(Images/binding_dark.png);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
}

.content{
    display: block; 
    overflow: hidden;
    object-fit: cover;
    margin:4px;
    margin-bottom: 10px;
    height: 110px;
    border: 1px solid #333;
    border-radius: 5px;
}

.tab{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    height: inherit;
    display: inline-block;
    z-index: 1;
}

.tabBackground{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.icons{
    position: absolute;
    bottom: 0;
}

.icon{
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #252525;
    font-size: 0.8em;
    color: #777;
    font-weight: bold;
    z-index: 20;
    border-bottom: solid 1px #555;
}

#pagetitle{
    margin-left: 30px;
    color: white;
    display: inline-block;
    text-align: left;
    font-size: 2.2em;
    font-family: monospace;
}

#contactinfo{
    color: white;
    background: red;
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
    padding-right: 4px;
    font-family: monospace;
}

#filters{
    display: inline-block;
    text-align: right;
    float: right;
    font-family: monospace;
}

a{
    color: #666;
    text-decoration: none;
    font-weight: 100;
}

.title{
    color: white;
    font-size: 1.1em;
    background-color: red;
    width: 100%;
    font-weight: bold;
    font-family: monospace;
    display: inline-block;
    margin: 0px;
    padding-left: 2px;
}

.subtitle{
    color:darkgray;
    font-size: 0.9em;
    margin: 0px;
    font-family: monospace;
}

.imageholder{
    display: inline-block;
    position: relative;
    right: -50%;
}

.preview{
    position: relative;
    left: -50%;
}