body {
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.info{
    width: 100%;
    position: fixed;
    text-align: right;
    top: 0;
    z-index: 10;
}

.content{
    display: block;
    overflow: hidden;
    object-fit: cover;
    margin:4px;
    height: 110px;    
}

.tab{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    height: inherit;
    display: inline-block;
    z-index: 1;
}

.tabBackground{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.icons{
    position: absolute;
    bottom: 0;
}

.icon{
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

#filter{
    color: yellowgreen;
}

.title{
    color: white;
    font-size: 1.4em;
    background-color: red;
    width: 100%;
    font-weight: bold;
    font-family: monospace;
    display: inline-block;
    margin: 0px;
    padding-left: 2px;
}

.subtitle{
    color:darkgray;
    font-size: 1em;
    margin: 0px;
    font-family: monospace;
}

.imageholder{
    display: inline-block;
    position: relative;
    right: -50%;
}

.preview{
    position: relative;
    left: -50%;
}