body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    justify-content: center;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}

.content{
    overflow: hidden;
    object-fit: cover;
    margin: 2px;
    height: 150px;
}

.tab{
    background-color: black;
    padding: 10px;
    display: inline-block;
    position: absolute;
    height: 130px;
}

.icons{
    position: absolute;
    bottom: 0.5em;
}

.icon{
    height: 2em;
    width: 2em;
    background-color: white;
    border-radius: 3px;
}

.title{
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    font-family: monospace;
    margin: 0px;
}

.subtitle{
    color:darkgray;
    font-size: 1em;
    margin: 0px;
    font-family: monospace;
}

.preview{
    max-width: 100%;
    width: 100%;
    min-width: 600px;
    display: inline-block;
    position: relative;
    z-index: -10;
}